<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex101 Clone</title>
</head>
<body>
    <form action="" method="post">
    <H1>This is Beauty's regex clone</H1>
    <label>Regular expression</label>
    <input type="text" name="var_1"><br><br>
    <label>String</label><br>
    <textarea name="var_2" rows="2" cols="50"></textarea><br>
    <input type="submit" value="Search">
    </form>
</body>
</html>